In [121]:
import pandas as pd #importamos pandas como pd alias
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
from sklearn.impute import KNNImputer

In [122]:
# lectura de datos en Python
df_FeatDataSet= pd.read_csv('./Features data set.csv')
df_SalesData = pd.read_csv('./sales data-set.csv')
df_Tabla = pd.read_csv('./Tabla_1.csv')

In [123]:
df_FeatDataSet.shape #REVISAREMOS FILAS Y COLUMNAS DE PRIMERA BASE

(8190, 12)

In [124]:
df_SalesData.shape #REVISAREMOS FILAS Y COLUMNAS DE SEGUNDA BASE

(421570, 5)

In [125]:
df_FeatDataSet.head(5)#MIRAMOS LOS PRIMERAS 10 DE FEATURES

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [126]:
df_FeatDataSet = df_FeatDataSet.rename_axis('index').reset_index()#AGREGAMOS UN INDEX A FALTA DE ESTE EN EL DATASET

In [127]:
df_FeatDataSet.head(10)

,index,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,5,1,12/03/2010,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,6,1,19/03/2010,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,7,1,26/03/2010,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,8,1,02/04/2010,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,9,1,09/04/2010,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False

In [128]:
df_SalesData.head(10)#Con set de datos features

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False
5      1     1  12/03/2010      21043.39      False
6      1     1  19/03/2010      22136.64      False
7      1     1  26/03/2010      26229.21      False
8      1     1  02/04/2010      57258.43      False
9      1     1  09/04/2010      42960.91      False

In [129]:
#REVISAREMOS LA SUMA DE LOS DATOS NULOS EN CADA UNO DE LOS DATA SET

In [130]:
df_FeatDataSet.isna().sum() #DATA SET FEATURES

index              0
Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [131]:
df_SalesData.isna().sum() #DATA SET SALES

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [132]:
#DADO QUE EL DATA SET "FeatDataSet" TIENE GRAN CANTIDAD DE DATOS NULOS REALIZAREMOS REEMPLAZO DE VALORES PERDIDOS CON ALGORITMO KNN

In [133]:
df_FeatDataSetFechas  = df_FeatDataSet #dejaremos un respaldo del DataSet para luego volver a integrar las fechas

In [134]:
df_FeatDataSetFechas = df_FeatDataSetFechas.iloc[:,[0, 2]]#solo guardamos el index y la fecha

In [135]:
df_FeatDataSet = df_FeatDataSet.drop(['Date'], axis=1) #primero eliminaremos fecha ya que no tiene datos nulos y nos dificultara el metodo KNN, despues integraremos con eje en el id

In [136]:
columnas = df_FeatDataSet.columns

In [137]:
#conjunto de variables de entrada

In [138]:
X = df_FeatDataSet.iloc[:,1:].values

In [139]:
y = df_FeatDataSet.iloc[:,0].values

In [140]:
from sklearn.model_selection import train_test_split

In [141]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [142]:
imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')

In [143]:
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

In [144]:
#ahora uniremos todos los subconjuntos en un solo conjunto

In [145]:
#conversion de los conjuntos de entrenamiento y prueba a dataframe

In [146]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)
y_train = pd.DataFrame(y_train)
y_test = pd.DataFrame(y_test)

In [147]:
#concatenacion de los conjuntos de entrenamiento y prueba en variables de entrada y salida

In [148]:
X = pd.concat([X_train, X_test], axis =0)
y = pd.concat([y_train, y_test], axis =0)

In [149]:
#concatenacion de los conjuntos de entrada y salida en un conjunto global

In [150]:
data = pd.concat([y,X], axis=1)

In [151]:
data.head()

,0,0,1,2,3,4,5,6,7,8,9,10
0,4846,27.0,52.22,4.187,5139.480,4770.630,53.84,1532.470,4176.900,141.843393,8.253,0.0
1,7199,40.0,25.90,3.523,1128.250,8721.230,129.34,393.680,3221.840,136.753000,4.261,0.0
2,6227,35.0,45.91,2.917,6128.026,1618.028,11896.22,1717.468,4834.308,136.786226,8.763,0.0
3,8107,45.0,37.79,3.389,3604.350,43941.560,287.45,357.430,750.010,189.062016,8.523,1.0
4,4509,25.0,51.93,3.969,3121.820,14387.528,21.48,136.450,3412.800,216.146470,7.293,0.0

In [152]:
data.columns = columnas

In [153]:
columnas

Index(['index', 'Store', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
       'IsHoliday'],
      dtype='object')

In [154]:
data.head()

,index,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,4846,27.0,52.22,4.187,5139.480,4770.630,53.84,1532.470,4176.900,141.843393,8.253,0.0
1,7199,40.0,25.90,3.523,1128.250,8721.230,129.34,393.680,3221.840,136.753000,4.261,0.0
2,6227,35.0,45.91,2.917,6128.026,1618.028,11896.22,1717.468,4834.308,136.786226,8.763,0.0
3,8107,45.0,37.79,3.389,3604.350,43941.560,287.45,357.430,750.010,189.062016,8.523,1.0
4,4509,25.0,51.93,3.969,3121.820,14387.528,21.48,136.450,3412.800,216.146470,7.293,0.0

In [155]:
data.isnull().sum()

index           0
Store           0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday       0
dtype: int64

In [156]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8190 entries, 0 to 1637
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         8190 non-null   int64
 1   Store         8190 non-null   float64
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     8190 non-null   float64
 5   MarkDown2     8190 non-null   float64
 6   MarkDown3     8190 non-null   float64
 7   MarkDown4     8190 non-null   float64
 8   MarkDown5     8190 non-null   float64
 9   CPI           8190 non-null   float64
 10  Unemployment  8190 non-null   float64
 11  IsHoliday     8190 non-null   float64
dtypes: float64(11), int64(1)
memory usage: 831.8 KB

In [157]:
#como vemos no tenemos datos faltante el el proximo paso concatenaremos la fecha con eje en la store

In [158]:
df_FeatDataSetFechas.head()

   index        Date
0      0  05/02/2010
1      1  12/02/2010
2      2  19/02/2010
3      3  26/02/2010
4      4  05/03/2010

In [159]:
#DataSetUniq= data.merge(df_FeatDataSetFechas)
#DataSetUniq = pd.merge(df_FeatDataSetFechas, data, how= 'left' , on=['Store'])
#pd.concat([data,df_FeatDataSetFechas], axis=1, ignore_index=True)
DataSetUniq =  pd.merge(data, df_FeatDataSetFechas, on='index', how='inner') #REALIZAMOS UN MERGE PARA UNIR LA FECHA CON LOS DEMAS DATOS YA FILTRADOS Y ENTRENADOS CON METODO KNN PARA 
#DESCUBRIR LAS VARIABLES DE MARKDOWN FALTANTES

In [160]:
DataSetUniq.head()

,index,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Date
0,4846,27.0,52.22,4.187,5139.480,4770.630,53.84,1532.470,4176.900,141.843393,8.253,0.0,13/04/2012
1,7199,40.0,25.90,3.523,1128.250,8721.230,129.34,393.680,3221.840,136.753000,4.261,0.0,13/01/2012
2,6227,35.0,45.91,2.917,6128.026,1618.028,11896.22,1717.468,4834.308,136.786226,8.763,0.0,05/11/2010
3,8107,45.0,37.79,3.389,3604.350,43941.560,287.45,357.430,750.010,189.062016,8.523,1.0,30/12/2011
4,4509,25.0,51.93,3.969,3121.820,14387.528,21.48,136.450,3412.800,216.146470,7.293,0.0,19/10/2012

In [161]:
DataSetUniq = DataSetUniq.sort_values('index')

In [162]:
DataSetUniq.tail()

,index,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Date
813,8185,45.0,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,161.789085,7.8566,0.0,28/06/2013
7869,8186,45.0,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,184.667586,8.6722,0.0,05/07/2013
5237,8187,45.0,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,183.991631,8.7270,0.0,12/07/2013
6262,8188,45.0,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,158.374307,8.5250,0.0,19/07/2013
5622,8189,45.0,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,161.789085,7.8566,0.0,26/07/2013

In [163]:
DataSetUniq = DataSetUniq.astype({'IsHoliday':'int64','Store':'int64'})

In [168]:
df_SalesData =df_SalesData.astype({'IsHoliday': 'int64'})

In [169]:
#df_SalesData.drop(df_SalesData[(df_SalesData['Store'] == 1) & (df_SalesData['Dept'] == 1)].index, inplace=True)

In [170]:
df_SalesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 16.1+ MB

In [171]:
#pd.merge(DataSetUniq,df_SalesData, how='outer' , left_index = 'Date' , right_index = 'Date')
#prueba = pd.merge(DataSetUniq,df_SalesData, on = ['Store','Date'])
prueba = pd.merge(DataSetUniq, df_SalesData, how = 'inner', on = ['Store', 'Date'])# UNIMOS AMBOS DATAFRAME PARA COMENZAR CON LOS ENSAYOS

In [172]:
DataSetUniq.info(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8190 entries, 6398 to 5622
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         8190 non-null   int64
 1   Store         8190 non-null   int64
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     8190 non-null   float64
 5   MarkDown2     8190 non-null   float64
 6   MarkDown3     8190 non-null   float64
 7   MarkDown4     8190 non-null   float64
 8   MarkDown5     8190 non-null   float64
 9   CPI           8190 non-null   float64
 10  Unemployment  8190 non-null   float64
 11  IsHoliday     8190 non-null   int64
 12  Date          8190 non-null   object
dtypes: float64(9), int64(3), object(1)
memory usage: 895.8+ KB

In [173]:
df_SalesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 16.1+ MB

In [174]:
prueba.head()

,index,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Date,Dept,Weekly_Sales,IsHoliday_y
0,0,1,42.31,2.572,6707.61,27736.016,118.994,2122.916,6225.472,211.096358,8.106,0,05/02/2010,1,24924.50,0
1,0,1,42.31,2.572,6707.61,27736.016,118.994,2122.916,6225.472,211.096358,8.106,0,05/02/2010,2,50605.27,0
2,0,1,42.31,2.572,6707.61,27736.016,118.994,2122.916,6225.472,211.096358,8.106,0,05/02/2010,3,13740.12,0
3,0,1,42.31,2.572,6707.61,27736.016,118.994,2122.916,6225.472,211.096358,8.106,0,05/02/2010,4,39954.04,0
4,0,1,42.31,2.572,6707.61,27736.016,118.994,2122.916,6225.472,211.096358,8.106,0,05/02/2010,5,32229.38,0

In [175]:
prueba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index         421570 non-null  int64
 1   Store         421570 non-null  int64
 2   Temperature   421570 non-null  float64
 3   Fuel_Price    421570 non-null  float64
 4   MarkDown1     421570 non-null  float64
 5   MarkDown2     421570 non-null  float64
 6   MarkDown3     421570 non-null  float64
 7   MarkDown4     421570 non-null  float64
 8   MarkDown5     421570 non-null  float64
 9   CPI           421570 non-null  float64
 10  Unemployment  421570 non-null  float64
 11  IsHoliday_x   421570 non-null  int64
 12  Date          421570 non-null  object
 13  Dept          421570 non-null  int64
 14  Weekly_Sales  421570 non-null  float64
 15  IsHoliday_y   421570 non-null  int64
dtypes: float64(10), int64(5), object(1)
memory usage: 54.7+ MB

In [176]:
prueba.describe()

,index,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Dept,Weekly_Sales,IsHoliday_y
count,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000
mean,3929.692801,22.200546,60.090059,3.361027,6421.266821,2818.769918,1376.636282,2960.993536,4145.644679,171.201947,7.960289,0.070358,44.260317,15981.258123,0.070358
std,2327.429021,12.785297,18.447931,0.458515,5891.843027,6392.416389,6484.807546,4143.946071,4044.758079,39.159276,1.863296,0.255750,30.492054,22711.183519,0.255750
min,0.000000,1.000000,-2.060000,2.472000,0.270000,-265.760000,-29.100000,0.220000,135.160000,126.064000,3.879000,0.000000,1.000000,-4988.940000,0.000000
25%,1927.000000,11.000000,46.680000,2.933000,3223.436000,227.758000,30.774000,859.540000,2245.194000,132.022667,6.891000,0.000000,18.000000,2079.650000,0.000000
50%,3875.000000,22.000000,62.090000,3.452000,5408.432000,591.224000,107.526000,1922.550000,3366.632000,182.318780,7.866000,0.000000,37.000000,7612.030000,0.000000
75%,5873.000000,33.000000,74.280000,3.738000,7781.262000,1990.997500,265.900000,3616.734000,4924.300000,212.416993,8.572000,0.000000,74.000000,20205.852500,0.000000
max,8150.000000,45.000000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,227.232807,14.313000,1.000000,99.000000,693099.360000,1.000000

In [177]:
# Hacer grficas de pastel/tarta/torta/pie
plt.pie(prueba['Store'],labels=prueba['Weekles'])
plt.show()

KeyError: 'Weekles'